body {
    background-color: #F3F5FC;
    position: relative;
    width: 1440;
    height: 1024;
}


#logo {
    width: 120px;
    height: 48px;   flex: none;
    order: 0;
    flex-grow: 0;
}









/**
#area-entrada {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

#exp {
    height: 16px;
    width: 16px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

.exclamacion {
    position: absolute;
    width: 205px;
    height: 18px;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    
}

.frame3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 855px;

}

#btn-encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 0;


}



footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
}
**/