
body {
    background-color: #F3F5FC;
    font-family: 'Inter';
    width: 1440px;
    height: 1024px;
}

header{
    width: 100%;
    height: 50px;
    background-color: pink;
}




main{
    width: 100%;
    height: 80%;
    display: flex;
    background-color: red;
}
.principal{
    width: 70%;
    height: 90%;
    background-color: aqua;
}
.aside{
    width: 30%;
    height: 90%;
    background-color: aquamarine;

}
textarea{
    border: none;
    resize: none;
    outline: none;
}

#logo {
    width: 120px;
    height: 48px;   flex: none;
    order: 0;
    flex-grow: 0;
}

#logo img{
    position: absolute;
    left: 36.67%;
    right: 37,43%;
    top: 0%;
    bottom: 0%;
}
.area-entrada {
    background-color: #F3F5FC;
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.frame1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 299px;
    height: 18px;
    left: 240px;
    top:700px;

    font-size: 12px;
    font-weight: 400;
    font-weight: 150%;
    opacity: 0.8;

    color: #495057;

}

.frame3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 730px;
}
.btn-encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap:8px;
    
    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;


    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    justify-content: center;
}
.btn-desencriptar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;

   border: 1px solid #0A3871;
   border-radius: 24px;

   flex: none;
   order: 1;
   flex-grow: 0;


   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #0A3871;
   justify-content: center;

}








/**

#exp {
    height: 16px;
    width: 16px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

.exclamacion {
    position: absolute;
    width: 205px;
    height: 18px;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    padding-left: 4px;
    
}

.frame3{
    display:inline-flex;
}
/**
.frame3 {
    position: absolute;
  
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 855px;

}

#btn-encriptar {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 0;


}





footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
}
**/